html,body{
    margin:0;
    padding:0;
    background-color: aliceblue;
    width:100%;
    height:100%;

}

h1 {
    background:#ff0000;
    width: 100%;
    height: 100px;
    text-align:center;
    font-family:Trebuchet MS;
    font-size:72;

}

p {
    font-size: 24;
}

h2 {
    font-family:Georgia;
    font-size:12;
    background-color: aliceblue;
    height: 100%;
    padding: 0;
    color: black;

}

nav, ul {

    width: 100%;
    height: 0px;

    margin: 0;
    padding: 0;

    background-color: black;
}

ul {
    height: 5%;
    background-color: black;

}

li {
    display: block;
    float: left;
    
    height: 10%;
    width: 20%;

    text-align: left;

    line-height: 50px;
}

a {
    display: block;
    color:white;
    text-decoration: none;

}

a:hover {
    color:black;
    background-color:white;
}

#footer {
    clear: both;
    color: white;
    width:100%;
    height:5%px;
    background-color: blue;
}

img{
    width: 50%;
} 

@media screen and (min-width:100%) and (max-width:100%) {
}
